run = "npm start"

entrypoint = "api.js"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "api.js"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 33341
externalPort = 3001

[[ports]]
localPort = 45639
externalPort = 3002

[userenv]

[userenv.development]
PORT = "5000"

[userenv.shared]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
